head
    meta(charset='utf-8')
    title gulp 4.0 builder
    meta(content='' name='author')
    meta(content='' name='description')
    meta(content='' name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='ie=edge' http-equiv='x-ua-compatible')
    //- favicon block start
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    //- favicon block end
    link(rel='stylesheet' href='assets/styles/main.css')
    script(src='assets/scripts/common.js' defer)
    script(src='assets/scripts/app.bundle.js' defer)
    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

